{{ define "base" }}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ template "title" . }} - SnippetBox</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
    <script src="/static/js/main.js" defer></script>
</head>
<body>
<header>
    <h1><a href="/">SnippetBox</a></h1>
</header>
<nav>
    <a href="/">Домашняя страница</a>
</nav>
<main>
    {{ template "main" . }}
</main>
{{ template "footer" . }}
</body>
</html>

{{ end }}