{{ template "base" . }}

{{ define "title" }}Заметка №{{ .OneEntry.ID }}.{{ end }}

{{ define "main" }}
    {{ with .OneEntry}}
        <div class="snippet">
            <div class="metadata"><strong>{{ .Title }}</strong><span>#{{ .ID }}</span></div>
            <pre><code>{{ .Content }}</code></pre>
            <div class="metadata">
                <time>Создан: {{ .CreatedAt }}</time>
                <time>Годен до: {{ .ExpiresAt }}</time>
            </div>
        </div>
    {{ end }}
{{ end }}