{{ template "base" . }}

{{ define "title" }}Заметка №{{ .Snippet.ID }}.{{ end }}

{{ define "main" }}
    <div class="snippet">
        <div class="metadata"><strong>{{ .Snippet.Title }}</strong><span>#{{ .Snippet.ID }}</span></div>
        <pre><code>{{ .Snippet.Content }}</code></pre>
        <div class="metadata">
            <time>Создан: {{ .Snippet.CreatedAt }}</time>
            <time>Годен до: {{ .Snippet.ExpiresAt }}</time>
        </div>
    </div>
{{ end }}